<?xml
version="1.0" encoding="utf-8"?>
<RunSettings>
	<!--Path relative to directory that contains .runsettings file-->
	<ResultsDirectory> .\tests </ResultsDirectory>
	<Playwright>
		<BrowserName>firefox</BrowserName>
		<LaunchOptions>
			<Headless>false</Headless>
			<Channel>firefox</Channel>
			<SloMo>500</SloMo>
			<RecordVideoDir>video/</RecordVideoDir>
			<RecordVideoSize></RecordVideoSize>
		</LaunchOptions>
	</Playwright>
</RunSettings>